{{- define "main" }}
  <main>
    {{ if .IsTranslated }}
    <ul>
      {{ range .Translations }}
      <li>
        <a href="{{ .Permalink }}">{{ .Lang }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}

    <header>
      <h1>{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{.}}</span>
      {{ end }}
    </header>
    <div>
    {{.Content}}
    </div>

    <div>
      {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </div>
    <div>
      {{ range ( where .Site.RegularPages "Type" "events" | first 3 ) }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    </div>
  </main>
{{- end }}
